<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>489934243389-uel9a24a3lli8enn9rm98s0rvnn8vnhq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.489934243389-uel9a24a3lli8enn9rm98s0rvnn8vnhq</string>
	<key>API_KEY</key>
	<string>AIzaSyDemwe4F6stvbXoZjUG3zm88cPb_g_DPZ4</string>
	<key>GCM_SENDER_ID</key>
	<string>489934243389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gradProject</string>
	<key>PROJECT_ID</key>
	<string>gradproject-7f8d0</string>
	<key>STORAGE_BUCKET</key>
	<string>gradproject-7f8d0.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489934243389:ios:37c4e4da959a44bc018c54</string>
</dict>
</plist>